body {
  font-family: "Forum", sans-serif;
  background: linear-gradient(135deg, #090909, #000000);
  color: #333;
}

.quote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote-content__title {
  font-size: 1.8em;
  color: #ffffff;
}

#quote-tekst {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.4em;
  font-style: italic;
  color: #ffffff;
}
/* card uiverse*/
/* From Uiverse.io by Cksunandh */
.m2 {
  position: relative;
  min-width: 80vmin;
  min-height: 80vmin;
  padding: 0.8rem;
  background: linear-gradient(135deg, #1e1e24 10%, #050505 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  user-select: none;
  animation: gradient-shift 5s ease-in-out infinite; /* Faster animation */
  background-size: 200% 200%; /* Gradient shift */
}

.m2::before,
.m2::after {
  --size: 5px; /* Reduced glow size */
  content: "";
  position: absolute;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: calc(100% + var(--size));
  height: calc(100% + var(--size));
  background:
    radial-gradient(circle at 0 0, hsl(27deg 93% 60%), transparent),
    radial-gradient(circle at 100% 0, #00a6ff, transparent),
    radial-gradient(circle at 0 100%, #ff0056, transparent),
    radial-gradient(circle at 100% 100%, #6500ff, transparent);
}

.m2::after {
  --size: 2px; /* Reduced inner glow size */
  z-index: -1;
}

.m2::before {
  --size: 10px; /* Reduced outer glow size */
  z-index: -2;
  filter: blur(2vmin); /* Reduced blur */
  animation: blur-animation 3s ease-in-out alternate infinite; /* Faster blur animation */
}

/* Faster blur animation */
@keyframes blur-animation {
  to {
    filter: blur(3vmin);
    transform: scale(1.05);
  }
}

/* Faster gradient animation */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*button*/

/* From Uiverse.io by dexter-st */
.btn-wrapper {
  position: relative;
  display: inline-block;
}

.btn {
  --border-radius: 24px;
  --padding: 4px;
  --transition: 0.4s;
  --button-color: #101010; /* Same as background */
  --highlight-color-hue: 210deg;

  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 1.1em;
  font-family: "Forum", sans-serif;
  font-size: 1em;
  font-weight: 400;

  background-color: var(--button-color);

  box-shadow:
    /* inset */
    inset 0px 1px 1px rgba(255, 255, 255, 0.2),
    inset 0px 2px 2px rgba(255, 255, 255, 0.15),
    inset 0px 4px 4px rgba(255, 255, 255, 0.1),
    inset 0px 8px 8px rgba(255, 255, 255, 0.05),
    inset 0px 16px 16px rgba(255, 255, 255, 0.05),
    /* drop */ 0px -1px 1px rgba(0, 0, 0, 0.02),
    0px -2px 2px rgba(0, 0, 0, 0.03),
    0px -4px 4px rgba(0, 0, 0, 0.05),
    0px -8px 8px rgba(0, 0, 0, 0.06),
    0px -16px 16px rgba(0, 0, 0, 0.08);

  border: solid 1px #fff2;
  border-radius: var(--border-radius);
  cursor: pointer;

  transition:
    box-shadow var(--transition),
    border var(--transition),
    background-color var(--transition);
}
.btn::before {
  content: "";
  position: absolute;
  top: calc(0px - var(--padding));
  left: calc(0px - var(--padding));
  width: calc(100% + var(--padding) * 2);
  height: calc(100% + var(--padding) * 2);
  border-radius: calc(var(--border-radius) + var(--padding));
  pointer-events: none;
  background-image: linear-gradient(0deg, #0004, #000a);

  z-index: -1;
  transition:
    box-shadow var(--transition),
    filter var(--transition);
  box-shadow:
    0 -8px 8px -6px #0000 inset,
    0 -16px 16px -8px #00000000 inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  background-image: linear-gradient(
    0deg,
    #fff,
    hsl(var(--highlight-color-hue), 100%, 70%),
    hsla(var(--highlight-color-hue), 100%, 70%, 50%),
    8%,
    transparent
  );
  background-position: 0 0;
  opacity: 0;
  transition:
    opacity var(--transition),
    filter var(--transition);
}

.btn-letter {
  position: relative;
  display: inline-block;
  color: #fff5;
  animation: letter-anim 2s ease-in-out infinite;
  transition:
    color var(--transition),
    text-shadow var(--transition),
    opacity var(--transition);
}

@keyframes letter-anim {
  50% {
    text-shadow: 0 0 3px #fff8;
    color: #fff;
  }
}

.btn-svg {
  flex-grow: 1;
  height: 24px;
  margin-right: 0.5rem;
  fill: #e8e8e8;
  animation: flicker 2s linear infinite;
  animation-delay: 0.5s;
  filter: drop-shadow(0 0 2px #fff9);
  transition:
    fill var(--transition),
    filter var(--transition),
    opacity var(--transition);
}
@keyframes flicker {
  50% {
    opacity: 0.3;
  }
}

/* Focus state */
.txt-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 6.4em;
}
.txt-1,
.txt-2 {
  word-spacing: 0;
}
.txt-1 {
  animation: appear-anim 1s ease-in-out forwards;
}
.txt-2 {
  opacity: 0;
}
@keyframes appear-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn:focus .txt-1 {
  animation: opacity-anim 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
.btn:focus .txt-2 {
  animation: opacity-anim 0.3s ease-in-out reverse forwards;
  animation-delay: 1s;
}
@keyframes opacity-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn:focus .btn-letter {
  animation:
    focused-letter-anim 1s ease-in-out forwards,
    letter-anim 1.2s ease-in-out infinite;
  animation-delay: 0s, 1s;
}
@keyframes focused-letter-anim {
  0%,
  100% {
    filter: blur(0px);
  }
  50% {
    transform: scale(2);
    filter: blur(10px) brightness(150%)
      drop-shadow(-36px 12px 12px hsl(var(--highlight-color-hue), 100%, 70%));
  }
}
.btn:focus .btn-svg {
  animation-duration: 1.2s;
  animation-delay: 0.2s;
}

.btn:focus::before {
  box-shadow:
    0 -8px 12px -6px #fff3 inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 20%) inset,
    1px 1px 1px #fff3,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btn:focus::after {
  opacity: 0.6;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(100%);
}

/* Animation delays for .btn-letter elements */
.btn-letter:nth-child(1),
.btn:focus .btn-letter:nth-child(1) {
  animation-delay: 0s;
}
.btn-letter:nth-child(2),
.btn:focus .btn-letter:nth-child(2) {
  animation-delay: 0.08s;
}
.btn-letter:nth-child(3),
.btn:focus .btn-letter:nth-child(3) {
  animation-delay: 0.16s;
}
.btn-letter:nth-child(4),
.btn:focus .btn-letter:nth-child(4) {
  animation-delay: 0.24s;
}
.btn-letter:nth-child(5),
.btn:focus .btn-letter:nth-child(5) {
  animation-delay: 0.32s;
}
.btn-letter:nth-child(6),
.btn:focus .btn-letter:nth-child(6) {
  animation-delay: 0.4s;
}
.btn-letter:nth-child(7),
.btn:focus .btn-letter:nth-child(7) {
  animation-delay: 0.48s;
}
.btn-letter:nth-child(8),
.btn:focus .btn-letter:nth-child(8) {
  animation-delay: 0.56s;
}
.btn-letter:nth-child(9),
.btn:focus .btn-letter:nth-child(9) {
  animation-delay: 0.64s;
}
.btn-letter:nth-child(10),
.btn:focus .btn-letter:nth-child(10) {
  animation-delay: 0.72s;
}
.btn-letter:nth-child(11),
.btn:focus .btn-letter:nth-child(11) {
  animation-delay: 0.8s;
}
.btn-letter:nth-child(12),
.btn:focus .btn-letter:nth-child(12) {
  animation-delay: 0.88s;
}
.btn-letter:nth-child(13),
.btn:focus .btn-letter:nth-child(13) {
  animation-delay: 0.96s;
}

/* Active state */
.btn:active {
  border: solid 1px hsla(var(--highlight-color-hue), 100%, 80%, 70%);
  background-color: hsla(var(--highlight-color-hue), 50%, 20%, 0.5);
}
.btn:active::before {
  box-shadow:
    0 -8px 12px -6px #fffa inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 80%) inset,
    1px 1px 1px #fff4,
    2px 2px 2px #fff2,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btn:active::after {
  opacity: 1;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(200%);
}
.btn:active .btn-letter {
  text-shadow: 0 0 1px hsla(var(--highlight-color-hue), 100%, 90%, 90%);
  animation: none;
}

/* Hover state */
.btn:hover {
  border: solid 1px hsla(var(--highlight-color-hue), 100%, 80%, 40%);
}

.btn:hover::before {
  box-shadow:
    0 -8px 8px -6px #fffa inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 30%) inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.btn:hover::after {
  opacity: 1;
  mask-image: linear-gradient(0deg, #fff, transparent);
}

.btn:hover .btn-svg {
  fill: #fff;
  filter: drop-shadow(0 0 3px hsl(var(--highlight-color-hue), 100%, 70%))
    drop-shadow(0 -4px 6px #0009);
  animation: none;
}

/* background style*/
/* From Uiverse.io by Cobp */
.container {
  --color-0: #fff;
  --color-1: #111;
  --color-2: #222;
  --color-3: #333;
  --color-4: #2e2e2e;
  --color-5: #d2b48c;
  --color-6: #b22222;
  --color-7: #871a1a;
  --color-8: #ff6347;
  --color-9: #ff3814;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-1);
  background-image:
    linear-gradient(
      to top,
      var(--color-2) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 80%),
    linear-gradient(
      to right,
      var(--color-2),
      var(--color-4) 5%,
      transparent 5%
    ),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-2) 6%,
      var(--color-4) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      var(--color-2) 27%,
      var(--color-4) 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      var(--color-2) 51%,
      var(--color-4) 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      var(--color-2) 42%,
      var(--color-4) 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      var(--color-2) 45%,
      var(--color-4) 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      var(--color-2) 48%,
      var(--color-4) 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      var(--color-2) 87%,
      var(--color-4) 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      var(--color-2) 14%,
      var(--color-4) 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      var(--color-2) 10%,
      var(--color-4) 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      var(--color-2) 21%,
      #1a1a1a 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      var(--color-2) 58%,
      var(--color-4) 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      var(--color-2) 92%,
      var(--color-4) 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      var(--color-2) 96%,
      #1a1a1a 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      var(--color-2) 35%,
      var(--color-4) 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      var(--color-3) 78%,
      var(--color-3) 80%,
      transparent 80%,
      transparent 82%,
      var(--color-3) 82%,
      var(--color-3) 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      var(--color-2) 66%,
      var(--color-4) 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
}

.container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--color-1);
  background-image:
    linear-gradient(
      to top,
      var(--color-5) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 30%),
    linear-gradient(
      to right,
      var(--color-6),
      var(--color-7) 5%,
      transparent 5%
    ),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-8) 6%,
      var(--color-9) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      #556b2f 27%,
      #39481f 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      #fa8072 51%,
      #f85441 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      #008080 42%,
      #004d4d 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      #008080 45%,
      #004d4d 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #008080 48%,
      #004d4d 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      #789 87%,
      #4f5d6a 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      #bdb76b 14%,
      #989244 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      #808000 10%,
      #4d4d00 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      #8b4513 21%,
      #5e2f0d 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      #8b4513 58%,
      #5e2f0d 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      #2f4f4f 92%,
      #1c2f2f 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      #2f4f4f 96%,
      #1c2f2f 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #cd5c5c 35%,
      #bc3a3a 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      #bc8f8f 78%,
      #bc8f8f 80%,
      transparent 80%,
      transparent 82%,
      #bc8f8f 82%,
      #bc8f8f 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      #a52a2a 66%,
      #7c2020 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
  clip-path: circle(150px at center center);
  animation: flashlight 20s ease infinite;
}

.container:after {
  content: "";
  width: 25px;
  height: 10px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image:
    radial-gradient(circle, #fff 50%, transparent 50%),
    radial-gradient(circle, #fff 50%, transparent 50%);
  background-size: 10px 10px;
  background-position:
    left center,
    right center;
  animation: eyes 20s infinite;
}

@keyframes flashlight {
  0% {
    clip-path: circle(150px at -25% 10%);
  }

  38% {
    clip-path: circle(150px at 60% 20%);
  }

  39% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  40% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  41% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  42% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  54% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  55% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  59% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  64% {
    clip-path: circle(150px at 45% 78%);
  }

  68% {
    clip-path: circle(150px at 85% 89%);
  }

  72% {
    clip-path: circle(150px at 60% 86%);
  }

  74% {
    clip-path: circle(150px at 60% 86%);
  }

  100% {
    clip-path: circle(150px at 150% 50%);
  }
}

@keyframes eyes {
  0%,
  38% {
    opacity: 0;
  }

  39%,
  41% {
    opacity: 1;
    transform: scaleY(1);
  }

  40% {
    transform: scaleY(0);
    filter: none;
    background-image:
      radial-gradient(circle, #fff 50%, transparent 50%),
      radial-gradient(circle, #fff 50%, transparent 50%);
  }

  41% {
    transform: scaleY(1);
    background-image:
      radial-gradient(circle, #ff0000 50%, transparent 50%),
      radial-gradient(circle, #ff0000 50%, transparent 50%);
    filter: drop-shadow(0 0 4px #ff8686);
  }

  42%,
  100% {
    opacity: 0;
  }
}
